* {
    margin: 0;
    padding: 0;
    z-index: 1;
}

.navFlexBar {
    display: flex;
    justify-content: center;
    width: 30vw;
    height: 30vh;
    margin: 50vh 50vw;
    position: absolute;
}

#homePage-title {
    font-size: 7vw;
    text-align: center;
    margin-top: 3vh;
    color: white;
    font-family: "Barriecito", sans-serif;
    display: inline-block;
}

#mainBack {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -99;
}