<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Space Humans</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Barriecito&display=swap" rel="stylesheet">
</head>
 <body>
    <div class="navBar">
        <h2><a href="index.html">Home Page</a></h2>
        <h2><a href="Planets.html">Planets</a></h2>
        <h2><a href="Stars.html">Stars</a></h2>
        <h2><a href="Other.html">Other</a></h2>
    </div>
    <img id="Mainback" alt="Space Background" src="Images/SpaceBack.jpg" name=back>
    <div id="contentDiv">
        <h1>Humans in Space</h1>
    </div>
 </body>
</html>