<html>
  <head>
    <title>Facts about Space</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Barriecito&display=swap" rel="stylesheet">
  </head>
  <body>
    <img id="Mainback" src="Images/SpaceBack.jpg" alt="Space Background">
    <h1 id="homePage-Title">Facts about Space</h1>
    <div class="navFlexBar">
      <h3><a href="SpaceHumans">Humans in space</a></h1>
      <h3 name="FlexRight"><a href="Planets">Planets</a></h1>
      <h3 name="FlexLeft"><a href="Stars">Stars</a></h1>
      <h3><a href="Other">Other</a></h1>
    </div>
  </body>
</html>