<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Space Humans</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Barriecito&display=swap" rel="stylesheet">
</head>
 <body>
    <div class="navBar">
        <h2><a href="/">Home Page</a></h2>
        <h2><a href="Planets">Planets</a></h2>
        <h2><a href="Stars">Stars</a></h2>
        <h2><a href="Other">Other</a></h2>
    </div>
    <img id="Mainback" alt="Space Background" src="Images/SpaceBack.jpg" name=back>
    <div id="contentDiv">
        <h1>Humans in Space</h1>
        <ul>
            <li>Humans have been continuosly present in space for over 8 years</li>
            <li>Have you ever heard of "Armalcolite"? Armalcolite is a mineral that was discovered at Tranquility Base by the Apollo 11 crew. It was named for ARMstrong, ALdrin and COLlins, the three Apollo 11 astronauts</li>
            <li>Each Space Shuttle astronaut is allotted 3.8 pounds of food per day (including the one pound of packaging). Foods are individually packaged and stowed for easy handling in the zero gravity of space. All food is precooked or processed so it requires no refrigeration and is either ready to eat or can be prepared simply by adding water or by heating. The only exceptions are the fresh fruit and vegetables stowed in the fresh food locker. Without refrigeration, carrots and celery must be eaten within the first two days of the flight or they will spoil.</li>
            <li>Apollo 10's command module was called "Charlie Brown" and the lunar module was called "Snoopy."</li>
            <li>The third human to walk on the surface of the Moon was Charles P. "Pete" Conrad -- during the Apollo 12 Mission.</li>
        </ul>
        <h3>These facts were taken from <a href="https://www.nasa.gov/facts/Space/index.html" target="_blank">this</a> site</h3>
        <br>
        <img src="Images/astro.jpg">
    </div>
 </body>
</html>