<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Planets</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Barriecito&display=swap" rel="stylesheet">
</head>
 <body>
        <div class="navBar">
            <h2><a href="/">Home Page</a></h2>
            <h2><a href="SpaceHumans">Humans in Space</a></h2>
            <h2><a href="Planets">Planets</a></h2>
            <h2><a href="Other">Other</a></h2>
        </div>
        <img id="Mainback" alt="Space Background" src="Images/SpaceBack.jpg" name=back>
        <div id="contentDiv">
            <h1>Stars</h1>
            <ul>
                <li>The Sun is all the colours mixed together, this appears white to our eyes</li>
                <li>The Sun contains 99.86% of the mass in the Solar System</li>
                <li>The Sun is an almost perfect sphere</li>
                <li>Every star you see in the night sky is bigger and brighter than our sun</li>
                <li>Our sun is a dwarf star</li>
            </ul>
            <h3>These facts were taken from <a href="https://space-facts.com/" target="_blank">this</a> site and <a href="https://earthsky.org/space/ten-things-you-may-not-know-about-stars">this</a> one</h3>
            <br>
            <img src="Images/sun.jpg">
        </div>
 </body>
</html>